main
{
    background: var(--theme-darkgray);
    display: flex;
    flex-direction: column;
    height: 100%;
}

main > p, input, button 
{
    margin: 0 auto;
    margin-top: 1rem;
}

#questionP
{
    font-size: 2rem;
}

/** answer button */
button
{
    background: var(--theme-green);
    border: 0;
    color: var(--theme-white);
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 2;
}

button:disabled
{
    background: var(--theme-red);
    cursor: not-allowed;
}